<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maneesha.rsvp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/RSVP"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/RSVP" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name=".check"
            android:label="@string/title_activity_check" >
        </activity>
        <activity
            android:name=".Tab1"
            android:label="@string/title_activity_tab1" >
        </activity>
        <activity
            android:name=".Tab2"
            android:label="@string/title_activity_tab2" >
        </activity>
    </application>

</manifest>
